@CHARSET "ISO-8859-1";
#connection{
	position: absolute;
	left: 20%;
	top:15%;
}

#sql{
	position: absolute;
	left: 40%;
	top: 15%;
}

#results{
	position: absolute;
	left:20%;
	top:50%;
}

#opButtons{
	position: absolute;
	left: 80%; 
	top:  30%	
}

#queryIc{
	position: absolute;
	left:40%;
	top:9%;
}

#resultsIc{
	position: absolute;
	left:20%;
	top:44%;
}

#sqltxt{
	position: absolute;
	left:42.5%;
	top:9%;
}

#restxt{
	position: absolute;
	left: 22.5%;
	top:44%;
}