@CHARSET "ISO-8859-1";
#connection{
	position:absolute;
	top: 90px;
	left: 160px;
}

#sql{
	position: absolute;
	top:88px;
	left:395px;
}

#queryIc{
	position: absolute;
	top: 60px;
	left:394px;
}

#sqltxt{
	position: absolute;
	top: 60px;
	left: 430px;
}

#results{
	position: absolute;
	top: 300px;
	left: 160px;
	overflow:auto;
}

#resultsIc{
	position: absolute;
	top: 270px;
	left:160px;	
}

#restxt{
	position: absolute;
	top: 272px;
	left: 195px;	
}

#opButtons{
	position: absolute;
	top: 400px;
	left: 230px;	
}	