@CHARSET "ISO-8859-1";
#connection{
	position:absolute;
	top: 90px;
	left: 160px;
}

#sql{
	position: absolute;
	top:88px;
	left:395px;
}

#queryIc{
	position: absolute;
	top: 60px;
	left:394px;
}

#sqltxt{
	position: absolute;
	top: 60px;
	left: 430px;
}

#results{
	position: absolute;
	top: 280px;
	left: 160px;
}	