@CHARSET "ISO-8859-1";
#check{
	position:relative;
	left: 1000px;
	top: 50px;	
}

#output{
	position:relative;
	left: 1000px;
	top: 150px;
}

#output fieldset{
	width: 250px;
}

#opButtons{
	position:relative;
	left: 920px;
	top: -90px;
}

#opButtons2{
	position:relative;
	left: 770px;
	top: -60px;
}

#advanced{
	position:relative;
	left: 970px;
	top: -270px;
}