@CHARSET "ISO-8859-1";
#check{
	position:absolute;
	left: 1000px;
	top: 50px;	
}

#output{
	position: absolute;
	left: 1000px;
	top: 150px;
}

#output fieldset{
	width: 250px;
}

#opButtons{
	position: absolute;
	left: 995px;
	top: 310px;
}

#opButtons2{
	position: absolute;
	left: 995px;
	top: 350px;
}

#advanced{
	position: absolute;
	left: 1130px;
	top: 95px;
}