@CHARSET "ISO-8859-1";
#check{
	position:absolute;
	left: 1000px;
	top: 50px;	
}

#output{
	position: absolute;
	left: 1000px;
	top: 150px;
}

#output fieldset{
	width: 250px;
}

#opButtons{
	position: absolute;
	left: 1000px;
	top: 350px;
}